.reservable:hover, .ours:hover
{
	background: #eee;
}
.reserved, .closed
{
	background: #ddd;
	border: none !important;
	text-align: center;
	vertical-align: middle;
}
.ours
{
	background: #bbb;
	border: none !important;
	text-align: center;
	vertical-align: middle;
}

.calendar
{
	/*background: #ede;*/
}
.range
{
   height: 2em;
   border-top: 1px solid #eee;
   border-bottom: 1px solid #eee;
}

.range td.closed
{
   width: 100%;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	border-top: none !important;
	border-right: 1px solid #eee;
}

.table
{
	overflow: auto;
}

/**
 * Date picker styling
 * 
 */
/*.form-3d .form-group,
 .form-3d .datePicker {
   position: relative;
   font-size: 1.2em;
 }
 .form-3d .form-group:after,
 .form-3d .datePicker:after {
   display: block;
   position: absolute;
   top: 10px;
 }
 .form-3d .datePicker {
   display: block;
   font-size: 100%;
   margin: auto;
 }
 .form-3d .datePicker .datepicker {
   position: relative;
   background: #fff;
   border: 1px solid #ced2d6;
 }
 .form-3d .datePicker .datepicker th.datepicker-switch {
   text-transform: none !important;
   font-weight: normal;
 }
 .form-3d .datePicker .datepicker .fa {
   display: block;
   margin: auto;
   transition: all 0.3s ease;
 }
 .form-3d .datePicker .datepicker .fa:hover {
   color: #2f8cea !important;
   border-color: #2f8cea !important;
 }
 .form-3d .datePicker .datepicker .prev:after,
 .form-3d .datePicker .datepicker .next:after {
   visibility: hidden;
   display: block;
   height: 0;
 }
 .form-3d .datePicker .datepicker thead tr:last-child,
 .form-3d .datePicker .datepicker tbody tr {
   border-bottom: 1px solid transparent !important;
 }
 .form-3d .datePicker .datepicker thead tr:last-child td,
 .form-3d .datePicker .datepicker tbody tr td {
   font-size: 1.2em;
   font-weight: 300;
 }
 .form-3d.light .form-group:after,
 .form-3d.light .datePicker:after {
   background: #fff;
   opacity: 0.5;
  }*/